.footer{
    background-color: #141B29;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerlist{
    margin-top: 20px;
    display: flex;    
    align-items: center;
    margin-left: 100px;

}
.menulinks,.contact{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.menulinks{
    margin-left: 280px;
}
.contact{
    margin-top:57px;
    margin-left: 350px;
}
.socials{
    margin-top: 25px;
    margin-left: -150px;
   
}
.menulinks>p{
    margin: 5px;
    
}
.contact>p{
    margin-bottom:5px;
    
}
.footerlogo{
margin-left: -100px;
}
.socialinks{
    margin: 20px;
}
@media only  screen and ( max-width:600px ),(min-height:1920px){
    .footer{
        background-color: #141B29;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerlist{
        margin-top: 20px;
        display: flex; 
        flex-direction: column;   
        align-items: center;
        
    
    }
    .menulinks,.contact{
        display: flex;
        flex-direction: column;
        
    }
    .menulinks{
        margin-right:380px ;
        
    }
    .contact{
        margin-top:57px;
        margin-right:430px ;
        
    }
    .socials{
        margin-top: 25px;
        margin-left: 17px;
       
    }
    .menulinks>p{
        margin: 5px;
        
    }
    .contact>p{
        margin-bottom:5px;
        
    }
    .footerlogo{
    margin-left: -100px;
    }
    .socialinks{
        margin: 20px;
    }

}